/* Resets */
* {
  margin: 0px;
  text-decoration: none;
  list-style: none;
}
/* Reset button */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
